extends layout

block content
  article
    time.publication(datetime="2014-08-07T17:30:00-05:30", pubdate="", data-updated="true") Jan 19<span>th</span>, 2014
    section.content
      h1 Less noise - Absolute bliss!
      blockquote
        p All you see and all you touch is all you ever be!

      p
        img.full-width(src="http://cdn.vnykmshr.com/images/articles/old-friends-new-year-purple-haze-and-kathmandu/kathmandu-valley.png", alt="Kathmandu Valley")

      p A little late, but I had to share my recollections from my recent trip to Kathmandu, a vibrant valley with a great heart to accommodate one and all. Back to Kathmandu after almost 10 years, sure things have changed a lot, but the feeling of belongingness ain&#39;t lost a bit. I was overjoyed in my short stays, overwhelmed to say the least!

      p Kathmandu has changed a lot in these years, and wider roads, still you get plenty of time to look around waiting for the traffic to clear, still a lot of work in progress. Get used to dust and smoke, get used to people in masks, it has become a style element! Jam-packed micros and electric 3 wheelers to help you move around. Pricey taxis, you&#39;ve got to step out with a fully-loaded wallet, inflation effect!

      p People have now got used to regular load shedding schedules, with 12 hours of daily power cut, everyone seems to have memorized the load shedding schedules at their fingertips. Back in my days, we did have power cuts, but only for mere few hours. But it has been this way for quite a while, and the city seems to have adapted to this quite well. Local markets closes with sunset, and except for the malls and few select places in the city, rest of the city seems to get enveloped in the darkening night so soon. One thing has to change, load shedding has to go away, for sure.

      p
        img.full-width(src="http://cdn.vnykmshr.com/images/articles/old-friends-new-year-purple-haze-and-kathmandu/kathmandu-nightlife.png", alt="Kathmandu Night Life")

      p But few good things to write home about, Thamel never sleeps! You can see flocks of people roaming around, indulged in their own escapes. You can meet all kind of souls here, wanderers from all over the world. Great place to meet new people, make friends, enjoy your evenings with memories to last. I, for sure, had a blast!

      p
        img.full-width( src="http://cdn.vnykmshr.com/images/articles/old-friends-new-year-purple-haze-and-kathmandu/purple-haze-kathmandu-1.png", alt="Purple Haze, Kathmandu")

      p Purple Haze, this article could not conclude without a mention. While there are quite a few places in Thamel to spend quality time. I found the atmosphere here at Purple Haze to be awesome. Live music, engaging crowd, your evenings are sure to be a blast. Get there with your gang of friends, meet new people. I did make a few friends. I recollect my days from Hyderabad where I used to rush to colleges/places I had never been before, just to attend and enjoy the live music and local bands. Purple Haze is way grand to those live performances I had been to before. Purple Haze has become a catchphrase among my friends! Let&#39;s go to Purple Hayze!

      p
        img.full-width( src="http://cdn.vnykmshr.com/images/articles/old-friends-new-year-purple-haze-and-kathmandu/purple-haze-kathmandu-2.png", alt="Purple Haze, Kathmandu")

      p My visit also coincided with new year in Nepalese calendar, which added a lot more sense to crowd proportion during my evening trips, celebrated new year with festivities, wishing a prosperous year ahead for one and all. The cycle repeats every year to install us all with new energy, and it makes lot more sense to me this year. As I have decided against all odds to try my luck with my own gig! Its going to be tough, but lot more satisfying. I will try to benefit from every ups and downs of the journey, am sure I have a long way to go, and this is just a humble start.

      p Wish you all a very happy new year, may this new year bring good health and prosperity to you and your loved ones.

      p \m/

    footer
      section.author
        h1: a(href="http://www.vnykmshr.com") Viks <em>(Vinayak Mishra)</em>

        .wrapper
          .avatar
            .wrapper
            img(src="/images/avatar.png")

          p Vinayak Mishra is co-founder and CTO of Zyoba labs, a software development firm based out of Kathmandu, the capital city of Nepal. You can follow him on <a href="https://twitter.com/vnykmshr">Twitter</a> or check out his website, <a href="http://www.vnykmshr.com">vnykmshr.com</a>.

  footer
    section.advertising //TODO

    section.pagination
      a.previous(href="#", title="Previous post: Kathmandu") << Kathmandu
      a.next(href="#", title="Next Post: Purple Haze") Purple Haze >>

    .clearfix(style="clear:both")
