- if ('development' === environment)
  link(rel="stylesheet", href="/css/normalize.css", media="screen, projection")
  link(rel="stylesheet", href="/css/style.css", media="screen, projection")
  link(rel="stylesheet", href="/js/highlight/styles/tomorrow-night-eighties.css", media="screen, projection")
- else
  link(rel="stylesheet", href="/css/min/<PLACEHOLDERFORMINIFIEDFILE>")
